/* .navFlex{
  display: flex;
  flex-direction: column;


} */
.App{
  height: 100vh;
  display:flex;
  flex-direction: column;
  width:100vw

}
.navFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  /* Set the height to 100% of the viewport height */
  background-color: #ffffff;
  /* Example background color */
  border-right: 1px solid black;
  border-color: black;
  /* border-radius: 8px; */
}

.nav-content-holder{
  display: flex;
  flex-direction: row;
  height:100vh;
  flex:1

}
.circular-pfp{
  border-radius: 50%;
}
.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post{
  padding-bottom: 10vh;
  /* border-bottom: 1px solid black ;
  border-width:25% */
}